.blog{
    display: flex;
    width:1200px;
}
.inf_about_me{
   margin-left: 40px;
    width: 370px;
    height: 1319px;
    left: 40px;
    top: 40px;
    background: #1E2939;
}
#image{
    margin-top: 40px;
}
/*.contacts{*/
/*    margin-left: 40px;*/
/*}*/
.contacts {
    margin-top: 50px;
    margin-left: 40px;
    color: #FFFFFF;
}
.contacts_number{
    display: flex;
}
.contacts_email{
    display: flex;
}
.contacts_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}

.contacts_letter{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-right: 5px;
}
.contact_link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.tech{
    color: #FFFFFF;
    margin-top: 45px;
    margin-left: 40px;
}

.tech_skills{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}
.tech ul{
    padding: 0;
    margin-left: 17px;
}
.tech ul li{
    color: #FB6D3A;
}
.paragraph_line_skills{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px ;
}
.soft{
    color: #FFFFFF;
    margin-top: 45px;
    margin-left: 40px;
}
.soft_skills{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
.soft ul{
    padding: 0;
    margin-left: 17px;
}
.soft ul li {
    color: #FB6D3A;
}
.general_information{
    margin-left: 90px;
}
.developer{
    margin-top: 100px;
}
.field_of_development{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.name_developer{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}
.brief_description{
    margin-top: 25px;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #595959;
}
.brief_description_text{
}
.project{
    margin-top: 40px;
}
.project_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
.project_paragraph_text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.text_link{
    color: #595959;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
.work_experience{
    margin-top: 40px;

}
.title_work{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
.first_work{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.first_work ul li{
    list-style-type: none;
}
.first_work ul li:before{
    color: #595959;
    content: "●";
    padding-right: 7px;
}
.paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #595959;
}
.date_of_work{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.name_work{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.color_text_orange{
    color: #FB6D3A;
}
.date_of_work{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #A8A8A8;
}
.color_dash{
    color: black;
}
.two_work{
margin-top: 15px;
}
.two_work ul li{
    list-style-type: none;
}
.two_work ul li:before{
    color: #595959;
    content: "●";
    padding-right: 7px;
}
.three_work{
    margin-top: 20px;
}
.three_work ul li{
    list-style-type: none;
}
.three_work ul li:before{
    color: #595959;
    content: "●";
    padding-right: 7px;
}
.education{
margin-top: 45px;
}
.title_education{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}
.name_university{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #FB6D3A;
}
.speciality{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.date_education{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #A8A8A8;
}




